<%= render 'shared/navbar', group: @groups %>
<button class="back"><%= link_to "back", groups_path  %></button>

<div class="group_main_div">
<h2 class="group_main_title">All Category</h2>

<section class="main_group_section">
<div class="groups_section">
  <% @groups.each do |group| %>
    <div>
      <%= image_tag(group.icon || '', alt:'Image not found', class: "group_image") %>
    </div>
    <div class="group_name_div">
      <p><%= link_to group.name, group_transfers_path(group),  class: "group_name" %></p>
    </div>
    <div class="group_total_amount">
      <span>
        <p>$<%= group.transfers.sum(:amount) %></p>
      </span>
    </div>
  <% end %>
  
  </div>
</section>

    <button class='category'><%= link_to "New category", new_group_path %></button>
  

</div>

