<%= render 'shared/navbar' %>
<button class="back"><%= link_to "back", groups_path  %></button>

<div class="group_main_div">
  <h2 class="group_main_title">Add New Expense</h2>

  <%= form_with(model: @transfer, url: group_transfers_path, method: :post) do |f| %>
  <div  class="group_form">
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'Name Expenses', class: "field" %>
    </div>

    <div class="field">
      <%= f.label :amount %>
      <%= f.number_field :amount, step: 1, placeholder: 'Amount Spent', class: "field"%>
    </div>

    <% if @groups.present? %>
      <div>
        <%= f.label :groups %>
        <% @groups.each do |group| %>
          <div class="checkbox">
            <%= f.check_box :group_ids, { multiple: true }, group.id, nil %>
            <%= f.label group.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  
    <%= f.submit 'Save', class: 'category' %>
    </div>
  <% end %>
</div>
